/* font-family: 'Yellowtail', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Satisfy', cursive;
*/

@font-face {
    font-family: "canterBold";
    src: url("canterBold.otf");
}

@font-face {
    font-family: "canterLight";
    src: url("canterLight.otf");
}

body {
    background: #FAF7F0;
    /*background-image: url(../img/patternBkgd.png);*/
    font-family: "canterLight";
}

html {
    background-color: #FAF7F0;
    box-sizing: border-box;
    color: #363636;
    font-size: 1.5em;
    font-weight: lighter;
    background-image: url(../img/patternBkgd.png);
    background-repeat: repeat;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding-bottom: 0;
    position: absolute;
    width: 1px;
}

.group::after {
    clear: both;
    content: '';
    display: block;
    }

/*
#topLogo{
    color: #c8c8d2;
    font-family: "canterLight";
    font-size: 2em;
    font-weight: lighter;
    position: fixed;
    top: 1.5%;
    right: 13%;
    z-index: 200;
}
*/

nav {
    background: #3d4868;
    padding: 15% 0 0 0;
    position: relative;
}

#award1 {
    height: auto;
    position: absolute;
    right: 2%;
    top: 2%;
    width: 22%;
}

header {
    background-image: url(../img/bkgd1.png);
    /* background-repeat: repeat-y; */
    margin: auto;
    max-width: 100%;
    text-align: center;
}

.phrase2 {
    color: #FAF7F0;
    font-family: "canterBold";
    font-size: 2.6em;
    padding-left: 15px;
    padding-right: 15px;
}

span.quote {
    color: #efad20;
    font-size: 1em;
}

#banner {
    padding-top: .5%;
}

#banner img {
    height: auto;
    max-width: 100%;
}

/************************ BEGINNING: First blue divider in coding *****************************/

#section1 {
    background-color: #3d4868;
    display: inline-block;
    margin: auto;
    position: relative;
    width: 100%;
}

.divider1 img {
    position: relative;
}

.divider1 p {
    position: absolute;
    text-align: center;
    z-index: 1;
}

#navTitle {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    padding-top: 20px;
}

.navItem {
    font-size: 3.5em;
}

/************************************** DESSERTS Menu *********************************************/

#mainMenu {
    background-color: ;/*#f0c447*/
    padding: 0 10px;
}

span.the {
    color: #e76d70;
    display: block;
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Satisfy', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    font-size: 1.1em;
    text-align: center;
}

.bananaName {
    color: #6b75ee;
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Satisfy', cursive; */
    font-size: 1.6em;
    text-align: center;
}

.description {
    font-size: 1.5em;
    text-align: center;
}

p.description {
    margin-top: -.5em
}

span.cost {
    color: ;
    font-size: ;
}


/************************************** ENTREES APPETIZERS and DRINKS Menu *********************************************/
/*#section2 {
    background-image: url(../img/patternBkgd.png);
    background-repeat: repeat;
}*/

#menu {
    color: #3d4868; /* #e76d70; */
    font-family: 'Dancing Script', cursive;
    font-size: 3.3em;
    text-align: center;
}

#bottomMenu {
    /*background-color: #6b75ee;*/
    padding: 0 10px;
    text-align: center;
}

#drinks {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
.meals1 {
    background-color: #3d4868;
    color: #e76d70; /* #f0c447; */
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Satisfy', cursive; */
    font-size: 1.8em;
    padding: 5px 0;
    text-align: center;
}

.meals2 {
    color: #6b75ee;
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Satisfy', cursive; */
    font-size: 1.3em;
    padding-left: 20px;
    text-align: left;
}

.meals3 {
    color: #6b75ee;
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Satisfy', cursive; */
    font-size: 1.2em;
    padding-left: 20px;
    text-align: left;
}

.description3 {
    color: #363636;
    font-family: "canterLight";
    font-size: 1em;
    font-weight: lighter;
    text-align: left;
}

#promos {
    color: #e76d70;
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Satisfy', cursive; */
    font-size: 1.8em;
    padding-top:;
    text-align: center;
}

.pics {
    height: auto;
    max-width: 300px;
}

#section3 {
    text-align: center;
}

/********************************* MEDIA QUERIES ******************/

@media all and (min-width: 500px) {
.meals {
    display: inline-block;
    padding: 0 5px;
    vertical-align: top;
}
.meals + .meals {
    padding-left: 15px;
}
.description1 {
    font-size: 1.4em;
    padding-left: 20px;
    text-align: left;
}
p.description1 {
    margin-top: -.5em
}
}

/************************************** RESERVATIONS Menu *********************************************/

#reservations p {
    color: #f0c447;
    font-size: 2em;
    padding-top: 1.3em;
    text-align: center;
}

/************************************** FOOTER Menu *********************************************/

footer {
    background: #3d4868;
    color: #FAF7F0;
    font-family: "canterLight";
    margin-top: 10%;
    padding: 0% 10% 0 10%;
    text-align: center;
}

.companyInfo {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 200px;
}

.companyInfo + .companyInfo {
    border-left: 0px solid #FAF7F0;
}

.companyInfoFont3 {
    font-weight: lighter;
    list-style: none;
    padding-left: 0;
}

.companyInfoFont1 {
    font-size: 1.5em;
    font-weight: lighter;
    margin-bottom: -.5em;
}

/************************************** MEDIA QUERIES *************************************************/

@media all and (min-width: 800px) {
footer {
    text-align: right;
    margin-top: 5%;
    }
.companyInfo {
    padding: 60px 0 60px 0;
    text-align: right;
    }
#banner img {
    max-width: 60%;
}
nav {
    padding: 6% 0 0 0;
}
body {
    border: 1px solid #FFF;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    max-width: 1300px;

    -moz-box-shadow:    0 0 2px 1px #D1D1D1;
    -webkit-box-shadow: 0 0 2px 1px #D1D1D1;
    box-shadow:         0 0 2px 1px #D1D1D1;
}
/****************** BEGINNING: First blue divider in coding ***********/
#section1 {
    background-color: #3d4868;
    display: inline-block;
    width: 100%;
}
.phrase2 {
    font-size: 3.3em;
}
.divider1 img {
    float: left;
    height: auto;
    max-width: 100%;
}
.divider1 article {
    float: right;
}
.divider1 p {
    padding-left: 30%;
    padding-right: 8%;
    padding-top: 1.5%;
}
/************************ BEGINNING: First blue divider in coding *****************************/
#award1 {
    right: 2%;
    top: 5%;
    width: 20%;
}


}
